<div class="container">
  <h1>{{title}}</h1>

  <div class="row mb-5">
    <div class="col-md-6">
      <form [formGroup]="todoItemForm" (ngSubmit)="submitForm()">
        <div class="mb-3">
          <label for="itemText" class="form-label">Item</label>
          <input type="text" class="form-control" id="itemText" formControlName="item">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="isCompletedCheck" formControlName="isCompleted">
          <label class="form-check-label" for="isCompletedCheck">Is Completed?</label>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>

  <table *ngIf="!isLoading" class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Todo item</th>
        <th scope="col">Is Completed?</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.item }}</td>
        <td>{{ item.isCompleted ? 'Yes' : 'No' }}</td>
        <td>
          <button class="btn btn-primary me-1" (click)="updateForm(item)">Edit</button>
          <button class="btn btn-danger" (click)="deleteItem(item.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="isLoading" class="spinner-border text-primary">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>